body {
    margin: 0;
    font-family: "manrope", sans-serif;
}

.container {
    width: 1200px;
    margin: 0% auto;
}

#logo {
    height: 45px;
    margin-right: 7px;
}

nav {
    padding: 15px 0;
    display: flex;
}

#logo-name {
    font-size: 18px;
    font-weight: bolder;
    display: flex;
    align-items: left;
    flex-basis: 100%;
}

nav ul, nav ul li {
    display: inline;
    flex-basis: 70%;
    align-items: center;
}

nav a:link, nav a:visited {
    text-decoration: none;
    color: #33354d;
    font-weight: 600;
    padding: 0 0.535rem;
    font-size: 18px;
}

nav a:hover {
    color: #6366f1;
}




